
#clientFormContainer, #maladieTableContainer, #addMaladieContainer {
    display: none;
}
.btn-detailed {
    background-color: #007bff;
    color: white;
}

.btn-primary {
border-radius: 25px;
border: none;

color: #ffffff;
cursor: pointer;
padding: 10px 15px;
margin-top: 20px;
text-transform: uppercase;
transition: all 0.1s ease-in-out;
}

.btn-primary:hover {
box-shadow: 0px 2px 15px 0px rgba(0,0,0,0.5);
transform: translateY(-3px);
}

.buttonClass {
font-size:15px;
font-family:Arial;
width:140px;
height:50px;
border-width:1px;
color:#fff;
border-color:#599bb3;
font-weight:bold;
border-top-left-radius:8px;
border-top-right-radius:8px;
border-bottom-left-radius:8px;
border-bottom-right-radius:8px;
box-shadow: 0px 10px 14px -7px #276873;
text-shadow: 0px 1px 0px #3d768a;
background:linear-gradient(#599bb3, #408c99);
}

.buttonClass:hover {
background: linear-gradient(#408c99, #599bb3);
}
.table {
margin: 0 0 40px 0;
width: 100%;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
display: table;
}

@media screen and (max-width: 580px) {
.table {
display: block;
}
}
.material-icons {
font-size: 24px;
cursor: pointer;
margin: 0 5px;
}

.material-icons.edit {
color: #007bff;  /* Bleu pour le bouton d'édition */
}

.material-icons.delete {
color: #dc3545;  /* Rouge pour le bouton de suppression */
}

.material-icons:hover {
opacity: 0.7;  /* Ajoute un effet de survol */
}


      
